body{
    background-color: rgba(175, 94, 94, 0.116);
}
header{
    background-color: aqua;
    text-align: center;
    font-family: cursive;
    font-size: 30px;
    padding-top: 10px;
    margin-top:-10px ;
}
.container{
    border: 3px solid red;
    border-radius: 10px;
    width: 60%;
    padding: 20px;
    font-size: 40px;
    display: none;
}
input[type="radio"] {
    -webkit-transform: scale(1.5); 
    transform: scale(3);
    width: 10px;
    font-size: 100px;
}
button{
    margin-top: 10px;
    font-size: 40px;
}

.btn{
    background-color: rgb(215, 224, 224);
    text-align: center;
    font-size: 30px;
    padding: 10px;
    /* margin-bottom: 0px; */
}